/* ===================================================== */
/* GLOBAL */
/* ===================================================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#780040;;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
padding:20px;
}

/* ===================================================== */
/* CONTAINER BOX */
/* ===================================================== */

.login-box{
background:white;
padding:40px;
width:100%;
max-width:450px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
text-align:center;
}

/* Title */

.login-box h2{
margin-bottom:20px;
color:#2c3e50;
}

/* ===================================================== */
/* INPUTS */
/* ===================================================== */

.login-box input,
.login-box textarea{
width:100%;
padding:12px;
margin:8px 0;
border-radius:8px;
border:1px solid #ddd;
outline:none;
transition:0.3s;
font-size:14px;
}

.login-box input:focus,
.login-box textarea:focus{
border-color:#e67e22;
box-shadow:0 0 5px rgba(230,126,34,0.4);
}

/* Textarea */

.login-box textarea{
resize:none;
height:100px;
}

/* File Input */

.login-box input[type="file"]{
padding:8px;
background:#f4f6f8;
}

/* ===================================================== */
/* BUTTON */
/* ===================================================== */

.login-box button{
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:#e67e22;
color:white;
font-size:16px;
font-weight:600;
cursor:pointer;
transition:0.3s;
margin-top:10px;
}

.login-box button:hover{
background:#d35400;
transform:translateY(-2px);
}

/* ===================================================== */
/* BACK LINK */
/* ===================================================== */

.login-box a{
display:inline-block;
margin-top:15px;
text-decoration:none;
color:#2c3e50;
font-weight:500;
}

.login-box a:hover{
color:#e67e22;
}

/* ===================================================== */
/* RESPONSIVE */
/* ===================================================== */

@media(max-width:480px){

.login-box{
padding:25px;
}

}